<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication1.My.MySettings.cibercafeConnectionString"
            connectionString="Data Source=|DataDirectory|\cibercafe.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WindowsApplication1.My.MySettings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WindowsApplication1.My.MySettings.ConnectionString"
            connectionString="Dsn=cibercafe" providerName="System.Data.Odbc" />
        <add name="WindowsApplication1.My.MySettings.cibercafeConnectionString1"
            connectionString="server=localhost;user id=root;database=cibercafe"
            providerName="MySql.Data.MySqlClient" />
        <add name="conexionBDshexo"
            connectionString="server=bookshexo.no-ip.info;user id=root;persistsecurityinfo=True;database=cibercafe"
            providerName="MySql.Data.MySqlClient" />
		<add name="conexionLocalhostAndres"
	    	connectionString="server=localhost;uid=root;pwd=Elmirador4442#;database=cibercafe;port=3306;IgnorePrepare=false;Charset=latin1"
	    	providerName="MySql.Data.MySqlClient"
	    	/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
